{{define "title"}}A templated page{{end}}

{{define "body"}}

<h1>Hello from a templated page</h1>
<div class="main-div">
    <div class="design">
        <div class="img">
            <img src="https://images.pexels.com/photos/3687957/pexels-photo-3687957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="animal">
        </div>
        <p>Orange Tabby Cat on White Table</p>
    
    
    </div>
    <div class="design">
        <div class="img">
            <img src="https://images.pexels.com/photos/3687957/pexels-photo-3687957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="animal">
        </div>
        <p>Orange Tabby Cat on White Table</p>
    
    
    </div>
</div>{{end}}