{{define "title"}}A templated page{{end}}

{{define "body"}}

<h1>Hello from a templated page</h1>
<div class="main-div">
    <div class="design">
        <div class="img">
            <img src="./../static/images/download.jpeg"
                alt="animal">
            <p>Grayscale Photo Of Cat Sitting Beside A Wall</p>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt officiis id, et mollitia iste ullam amet vitae suscipit molestias quam.</p>
    
    </div>
    <div class="design">
        <div class="img">
            <img src="./../static/images/download.jpeg"
                alt="animal">
            <p>Grayscale Photo Of Cat Sitting Beside A Wall</p>
        </div>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt officiis id, et mollitia iste ullam amet vitae suscipit molestias quam.</p>
    
    </div>
</div>{{end}}