{{define "title"}}A templated page{{end}}

{{define "body"}}

<h1>Hello from a templated page</h1>
<div class="main-div">
    <div class="design">
        <div class="img">
            <img src="./../static/images/download (4).jpeg"
                alt="animal">
        </div>
        <p>Orange Tabby Cat on White Table</p>
    
    
    </div>
    <div class="design">
        <div class="img">
            <img src="./../static/images/download (4).jpeg"
                alt="animal">
        </div>
        <p>Orange Tabby Cat on White Table</p>
    
    
    </div>
</div>{{end}}